<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../assets/styles/ocean-theme.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>{{title}}</title>
</head>

<body>

    <header>
        <h1>NOT OOGA BOOOGA</h1>
    </header>


    <div class="container {{title}}">

        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">

                <div class="card">
                    <div class="card-header text-white bg-primary">
                        <h4>{{title}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="entryErr mt-2">{{errorMsgEmail}}<br>{{errorMsgPass}}</div>


                        {{{ body }}}

                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>





    </div>



</body>

</html>